# Masukan APP ID ambil di web my.telegram.org
API_KEY = "32937413"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "49471bf6497846c6feacdf2272eb19b4"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOMMBu56Y6yVumY5XHFCUwDqGpRFe9HtkbJJI0enoPu4BX5EI7cYWEm7rkCDv4KlQnblXSoWIPng8UHtv0xIuzLsm6yBham6lg0MKriunfob_Da5ECLIkb-HJzTg7hjQog7hjQoPFjOkJa5_50m8WWExKY8KPAeJHJgF6e9HqOEHdms15Qcuy8t0JxeQaupCWTYVXh8hjeV51DSpOpiHH0Y8xmTLKRacqMmdNO5DZZHGmVuvclt0CuQBhT9j88uxt_ECMTmA8UfeGI6UNKwbDfdKwbDfdFAdaenak2ALpC-vMVRCK5s-bGw2RJO4-30fb7NQyRfXuC6NJAkmAWKy1DThZt6OPyww3UKEHUQw="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "8529074931:AAFoXya8pLyk5DxR4tz74ND6FzkdApvLK0k"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1003800665107 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "sqlite:///userbot.db"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

